<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>406 APIKEY NOT FOUND</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Passion+One:900" rel="stylesheet">
    
	<!-- Custom stlylesheet -->
	<link href="http://studiovdk.herokuapp.com/api/css/style.css" rel="stylesheet"/>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>:(</h1>
			</div><br>
			<h2>406 - APIKEY Not Acceptable</h2>
			<p>parameter apikey salah atau apikey tidak ditemukan, chat owner viko di pojok kanan bawah. ingin buat apikey atau minta chat owner. kemungkinan apikey berbayar atau gratis</p><p></p>
			<a href="./docs">Kembali</a>
		</div>
	</div>
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="1c7170fa-cbdb-498a-ba0d-9e6b1ea52df9";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
