<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>404 API NOT FOUND</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Passion+One:900" rel="stylesheet">
    
</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>:(</h1>
			</div>
			<h2>404 - API Not Found</h2>
			<h4>kesalahan saat melakukan GET, kemungkinan</h4>
			<p>- Mungkin anda salah mengetik parameter atau tulisan ejaan dan spasi<br>
			- kemungkinan api di hapus oleh owner<br>
			- kemungkinan file dipindah atau di rename oleh owner
			</p><br>

			<a href="http://viko-api.herokuapp.com/">Kembali</a>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
