<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>VIKO - API FREE</title>
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/ruang-admin.min.css" rel="stylesheet">
  <script src="https://studiovdk.herokuapp.com/main-menu/databs.js"></script>
  <script src="https://studiovdk.herokuapp.com/main-menu/berita.js"></script>
  <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
  <script>
	function prosedur() {
    fetch('http://viko-api.herokuapp.com/api/random/apiviko?&apikey=rxking')
    .then(response => response.json())
    .then(data => {
        console.log(data)

        let apimenu = data.result.apikey
        let kampret = `${data.result.pekok} <br><br>Note: setiap pukul 23:00PM - 05:00AM APIKEY mati/berubah`
        document.getElementById("apikuuu").innerHTML = apimenu
        document.getElementById("lucast").innerHTML = kampret
    })
    .catch(err => {
        console.log(err)
    });
}
  </script>
  <style>
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
 <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center bg-info" href="http://studiovdk.herokuapp.com/" style="  background-image: url(https://pingendo.com/site-assets/cover.jpg);  background-position: top left;  background-size: 100%;  background-repeat: repeat;">
        <div class="sidebar-brand-icon">
<lord-icon
    src="https://cdn.lordicon.com/xxtkutpo.json"
    trigger="loop"
    colors="primary:#ffffff,secondary:#66eece"
    style="width:80px;height:80px">
</lord-icon>
        </div>
        <div class="sidebar-brand-text mx-3">StudioVDK</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="http://studiovdk.herokuapp.com/main-menu/index.html">
          <i class="fas fa-fw fa-code"></i>
          <span>Dasboard</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading"> API Features </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap" aria-expanded="true" aria-controls="collapseBootstrap">
          <i class="fas fa-download"></i>
          <span>Social Media API</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Media Features</h6>
            <a class="collapse-item" href="/api/download/fb?url=https://www.facebook.com/alanwalkermusic/videos/277641643524720&amp;apikey=APIKEY">Facebook Downloader</a>
            <a class="collapse-item" href="/api/download/tiktok?url=https://vt.tiktok.com/ZSJhvu1AE/&amp;apikey=APIKEY">Tiktok Download</a>
            <a class="collapse-item" href="/api/download/ig?url=https://www.instagram.com/p/CNtpwxuH5NK/?igshid=g26k5coikzwr&amp;apikey=APIKEY">Instagram Download</a>
            <a class="collapse-item" href="/api/download/ytmp3?url=https://youtu.be/Nq5rzeJ5Ab4&amp;apikey=APIKEY">Youtube Mp3 Download</a>
            <a class="collapse-item" href="/api/download/ytmp4?url=https://youtu.be/Nq5rzeJ5Ab4&amp;apikey=APIKEY">Youtube Mp4 Download</a>
            <a class="collapse-item" href="/api/yt/playmp3?query=Dj-slow&amp;apikey=APIKEY">Youtube Play Mp3</a>
            <a class="collapse-item" href="/api/yt/playmp4?query=Dj-slowbass&amp;apikey=APIKEY">Youtube Play Mp4</a>
            <a class="collapse-item" href="/api/yt/search?query=Dj-slowbass&amp;apikey=APIKEY">Youtube Searching</a>
            <h6 class="collapse-header">Stalker Features</h6>
            <a class="collapse-item" href="/api/stalk/ig?apikey=APIKEY&amp;query=vikodwik_rmx">Instagram Stalker</a>
            <a class="collapse-item" href="/api/stalk/tiktok?apikey=APIKEY&amp;username=chikakiku">Tiktok Stalker</a>
            <a class="collapse-item" href="/api/stalk/npm?apikey=APIKEY&amp;query=viko-api&amp;hostname=viko">Info NPM</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMusic" aria-expanded="true" aria-controls="collapseMusic">
          <i class="fas fa-music"></i>
          <span>Music Api</span>
        </a>
        <div id="collapseMusic" class="collapse" aria-labelledby="headingMusic" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Music API</h6>
            <a class="collapse-item" href="/api/music/joox?apikey=APIKEY&amp;query=Dj slowbass">Joox Download</a>
            <a class="collapse-item" href="/api/music/liriklagu?query=sayang&amp;apikey=APIKEY">Search Lirik Lagu</a>
            <a class="collapse-item" href="/api/music/chordlagu?lagu=sayang&amp;apikey=APIKEY">Search Chord Lagu</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIslamic" aria-expanded="true" aria-controls="collapseIslamic">
          <i class="fas fa-star-and-crescent"></i>
          <span>Islamic Features</span>
        </a>
        <div id="collapseIslamic" class="collapse" aria-labelledby="headingIslamic" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Islamic API</h6>
            <a class="collapse-item" href="/api/muslim/hadits?kitab=bukhari&amp;nomor=52&amp;apikey=APIKEY">Hadits Shahih</a>
            <a class="collapse-item" href="/api/muslim/quran?surah=1&amp;ayat=2&amp;apikey=APIKEY">Al Qur'an</a>
            <a class="collapse-item" href="/api/muslim/tahlil?apikey=APIKEY">Doa Tahlil</a>
            <a class="collapse-item" href="/api/muslim/wirid?apikey=APIKEY">Doa Wirid</a>
            <a class="collapse-item" href="/api/muslim/asmaulhusna?apikey=APIKEY">Asmaul Husna</a>
            <a class="collapse-item" href="/api/muslim/doaharian?apikey=APIKEY">Doa Harian</a>
            <a class="collapse-item" href="/api/muslim/ayatkursi?apikey=APIKEY">Ayat Kursi</a>
            <a class="collapse-item" href="/api/muslim/kisahnabi?nabi=muhammad&amp;apikey=APIKEY">Kisah Nabi</a>
            <a class="collapse-item" href="/api/muslim/niatshalat?apikey=APIKEY">Niat Shalat</a>
            <a class="collapse-item" href="/api/muslim/bacaanshalat?apikey=APIKEY">Bacaan Shalat</a>
            <a class="collapse-item" href="/api/muslim/jadwalshalat?kota=jakartautara&amp;apikey=APIKEY">Jadwal Shalat</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseWallpaper" aria-expanded="true" aria-controls="collapseKodepos">
          <i class="fas fa-image"></i>
          <span>Random API</span>
        </a>
        <div id="collapseWallpaper" class="collapse" aria-labelledby="headingKodepos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Random Image API</h6>
            <a class="collapse-item" href="/api/pint/pinterest?apikey=APIKEY&amp;query=loli">Pinterest</a>
            <a class="collapse-item" href="api/search/image?apikey=APIKEY&amp;query=chikaku">Search Image</a>
            <a class="collapse-item" href="/api/maker/dadu?apikey=APIKEY">Random DADU</a>
            <a class="collapse-item" href="/api/wallpaper/teknologi?apikey=APIKEY">Wallpaper Teknologi</a>
            <a class="collapse-item" href="/api/wallpaper/programming?apikey=APIKEY">Wallpaper Programming</a>
            <a class="collapse-item" href="/api/wallpaper/cyberspace?apikey=APIKEY">Wallpaper CyberSpace</a>
            <a class="collapse-item" href="/api/wallpaper/muslim?apikey=APIKEY">Wallpaper Muslim</a>
            <a class="collapse-item" href="/api/wallpaper/pegunungan?apikey=APIKEY">Wallpaper Mountain View</a>
            <h6 class="collapse-header">Time Line API</h6>
            <a class="collapse-item" href="/api/asupan?apikey=APIKEY">Random Asupan</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMaker" aria-expanded="true" aria-controls="collapseMaker">
          <i class="fas fa-fw fa-images"></i>
          <span>Image Maker API</span>
        </a>
        <div id="collapseMaker" class="collapse" aria-labelledby="headingText" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/api/maker/nulis?apikey=APIKEY&amp;text=viko ganteng kata mamak">Nulis Buku</a>
            <a class="collapse-item" href="/api/maker/attp?apikey=APIKEY&amp;text=Itskhyaa">Animation Text To Picture</a>
            <a class="collapse-item" href="/api/maker/ttp?apikey=APIKEY&amp;text=Itskhyaa">Text To Picture</a>
            <a class="collapse-item" href="/api/maker/emoji2png?apikey=APIKEY&amp;text=😂">Emoji To Png</a>
            <hr>
            <a class="collapse-item" href="/api/maker/skatch?apikey=APIKEY&amp;url=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbmrYfgiRt1lLwNgRMgMbID62qH3EQ2T1c6RUJEQMcoCWKqVVxAg7R_LfM&amp;s=10">Skatch Effect</a>
            <a class="collapse-item" href="/api/maker/harta-tahta?apikey=APIKEY&amp;text=Ayang">Harta Tahta Maker</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePhotooxy" aria-expanded="true" aria-controls="collapsePhotooxy">
          <i class="fas fa-fw fa-images"></i>
          <span>Photooxy API</span>
        </a>
        <div id="collapsePhotooxy" class="collapse" aria-labelledby="headingText" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Photooxy API</h6>
            <a class="collapse-item" href="/api/photooxy/shadow?apikey=APIKEY&amp;text=Ayang viko">Shadow Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/romantic?apikey=APIKEY&amp;text=Ayang viko">Romantic Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/smoke?apikey=APIKEY&amp;text=Ayang viko">Smoke text Effect</a>
            <a class="collapse-item" href="/api/photooxy/burn-paper?apikey=APIKEY&amp;text=Ayang viko">Burn-paper Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/naruto?apikey=APIKEY&amp;text=Ayang viko">Naruto Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/romantic?apikey=APIKEY&amp;text=Ayang viko">Romantic Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/love-message?apikey=APIKEY&amp;text=Ayang viko">Love-Message Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/message-under-grass?apikey=APIKEY&amp;text=Ayang viko">Message Under Grass</a>
            <a class="collapse-item" href="/api/photooxy/double-heart?apikey=APIKEY&amp;text=Ayang viko">Double Heart</a>
            <a class="collapse-item" href="/api/photooxy/coffe-cup?apikey=APIKEY&amp;text=Ayang viko">Coffe-cup Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/love-text?apikey=APIKEY&amp;text=Ayang viko">Love-Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/butterfly?apikey=APIKEY&amp;text=Ayang viko">Butterfly Text Effect</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTextpro" aria-expanded="true" aria-controls="collapseTextpro">
          <i class="fas fa-fw fa-images"></i>
          <span>Textpro me API</span>
        </a>
        <div id="collapseTextpro" class="collapse" aria-labelledby="headingAnime" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Textpro Me Features</h6>
            <a class="collapse-item" href="/api/textpro/natural-leaves?apikey=APIKEY&amp;text=viko sayang">Natural Leaves Text</a>
            <a class="collapse-item" href="/api/textpro/black-pink?apikey=APIKEY&amp;text=viko sayang">Black Pink Text Image</a>
            <a class="collapse-item" href="/api/textpro/drop-water?apikey=APIKEY&amp;text=viko sayang">Drop Water Text Image</a>
            <a class="collapse-item" href="/api/textpro/logo-wolf?apikey=APIKEY&amp;text=viko&amp;text2=Sayang">Logo Wolf Text Image</a>
            <a class="collapse-item" href="/api/textpro/logo-wolf2?apikey=APIKEY&amp;text=viko&amp;text2=Sayang">Logo Wolf 2 Text Image</a>
            <a class="collapse-item" href="/api/textpro/logo-wolf?apikey=APIKEY&amp;text=viko sayang">Thunder Text Image</a>
            <a class="collapse-item" href="/api/textpro/christmas?apikey=APIKEY&amp;text=viko sayang">Christmas Text Image</a>
            <a class="collapse-item" href="/api/textpro/3d-gradient?apikey=APIKEY&amp;text=viko sayang">3D Gradient Text Image</a>
            <a class="collapse-item" href="/api/textpro/youtub-hub?apikey=APIKEY&amp;text1=viko&amp;text2=Sayang">yutup Hub Text Image</a>
            <a class="collapse-item" href="/api/textpro/matrix?apikey=APIKEY&amp;text=viko">Matrix Text Image</a>
            <a class="collapse-item" href="/api/textpro/harry-potter?apikey=APIKEY&amp;text=viko">Harry potter Text Image</a>
            <a class="collapse-item" href="/api/textpro/neondevil?apikey=APIKEY&amp;text=viko">Neon Devil Text Image</a>
            <a class="collapse-item" href="/api/textpro/marvel?apikey=APIKEY&amp;text1=Marvel&amp;text2=Studitod">marvel Text Image</a>
            <a class="collapse-item" href="/api/textpro/glitch2?apikey=APIKEY&amp;text1=Studiovdk&amp;text2=mr-viko">Glitch Text Image</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRandom" aria-expanded="true" aria-controls="collapseRandom">
          <i class="fas fa-random"></i>
          <span>Random API</span>
        </a>
        <div id="collapseRandom" class="collapse" aria-labelledby="headingGithub" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Random API</h6>
            <a class="collapse-item" href="/api/random/quotes?apikey=APIKEY">Quotes</a>
            <a class="collapse-item" href="/api/random/pantun?apikey=APIKEY">Pantun Bucin</a>
            <a class="collapse-item" href="/api/random/quotes/muslim?apikey=APIKEY">Quotes Islami</a>
            <a class="collapse-item" href="/api/random/quotes/kanye?apikey=APIKEY">Quotes Kanye</a>
            <a class="collapse-item" href="/api/random/asmaulhusna?apikey=APIKEY">Asmaul Husna</a>
            <a class="collapse-item" href="/api/random/meme?apikey=APIKEY">Meme</a>
            <a class="collapse-item" href="/api/random/wallpaper?apikey=APIKEY&amp;url=pemandangan">Wallpaper</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnime" aria-expanded="true" aria-controls="collapseAnime">
          <i class="fas fa-cat"></i>
          <span>Anime/Manga API</span>
        </a>
        <div id="collapseAnime" class="collapse" aria-labelledby="headingAnime" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Anime/Manga Features</h6>
            <a class="collapse-item" href="/api/anime/kusonime?search=planetarian&amp;apikey=APIKEY">Kusonime</a>
            <a class="collapse-item" href="/api/anime/manga?search=kimetsu no yaiba&amp;apikey=APIKEY">Manga</a>
            <a class="collapse-item" href="/api/anime/loli?apikey=APIKEY">Random loli</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGames" aria-expanded="true" aria-controls="collapseForm">
          <i class="fas fa-laugh-beam"></i>
          <span>Fun API</span>
        </a>
        <div id="collapseGames" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
          <div class="py-2 collapse-inner rounded">
            <h6 class="collapse-header">Fun Features</h6>
            <a class="collapse-item" href="/api/random/cerpen?apikey=APIKEY">Cerpen Rakyat</a>
            <a class="collapse-item" href="/api/kuis/caklontong?apikey=APIKEY">Cak Lontong</a>
            <a class="collapse-item" href="/api/kuis/tebakgambar?apikey=APIKEY">Tebak Gambar</a>
            <a class="collapse-item" href="/api/hilih?kata=viko ganteng banget njir no debat&amp;apikey=APIKEY">Kata Hilih</a>
            <a class="collapse-item" href="/api/f/simi?apikey=APIKEY&amp;query=simii">Simi simi bot</a>
            <a class="collapse-item" href="/api/f/botkuh?apikey=APIKEY&amp;query=simii">AI bot</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseItem" aria-expanded="true" aria-controls="collapseForm">
          <i class="fas fa-code"></i>
          <span>Hacking Tools</span>
        </a>
        <div id="collapseItem" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Hacking Features</h6>
            <a class="collapse-item" href="/api/hack/sms?query=nomortelp&amp;apikey=APIKEY">SPAM SMS</a>
            <a class="collapse-item" href="/api/hack/tlpn?query=nomortelp&amp;apikey=APIKEY">SPAM TELPON</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseItem" aria-expanded="true" aria-controls="collapseForm">
          <i class="fas fa-wrench"></i>
          <span>Tools API</span>
        </a>
        <div id="collapseItem" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
          <div class="py-2 collapse-inner rounded">
            <h6 class="collapse-header">Tools Features</h6>
            <a class="collapse-item" href="/api/web2plain-text?apikey=APIKEY&amp;url=https://viko-api.herokuapp.com">Web To Plain-Text</a>
            <a class="collapse-item" href="/api/tools/wpuser?apikey=APIKEY&amp;url=http://gdjms.co.za/">Wordpress User</a>
            <a class="collapse-item" href="/api/short/tinyurl?url=google.com&amp;apikey=APIKEY">Shortlink Tinyurl</a>
            <a class="collapse-item" href="/api/translate?kata=hi&amp;apikey=APIKEY">Translate</a>
            <a class="collapse-item" href="/api/fakedata?country=en&amp;apikey=APIKEY">Fake Data</a>
            <h6 class="collapse-header">Encrypt Tools</h6>
            <a class="collapse-item" href="/api/base?apikey=APIKEY&amp;type=base64&amp;encode=viko sayang sekali">Base64 Encrypt</a>
            <a class="collapse-item" href="/api/base?apikey=APIKEY&amp;type=base32&amp;encode=viko sayang sekali">Base32 Encrypt</a>
            <h6 class="collapse-header">Decrypt Tools</h6>
            <a class="collapse-item" href="/api/base?apikey=APIKEY&amp;type=base64&amp;decode=viko sayang sekali">Base64 Decrypt</a>
            <a class="collapse-item" href="/api/base?apikey=APIKEY&amp;type=base32&amp;decode=viko sayang sekali">Base32 Decrypt</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="true" aria-controls="collapseother">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Information API</span>
        </a>
        <div id="collapseInfo" class="collapse" aria-labelledby="headingother" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Information Menu</h6>
            <a class="collapse-item" href="/api/info/gempa?apikey=APIKEY">Info Gempa</a>
            <a class="collapse-item" href="/api/info/cuaca?apikey=APIKEY&amp;url=madiun">Info Cuaca</a>
            <a class="collapse-item" href="/api/info/covidindo?apikey=APIKEY">Covid Indo</a>
            <a class="collapse-item" href="/api/info/covidworld?apikey=APIKEY">Covid World</a>
            <a class="collapse-item" href="/api/info/wikipedia?search=gay&amp;apikey=APIKEY">Wikipedia</a>
            <a class="collapse-item" href="/api/info/drakorasia?search=tale&amp;apikey=APIKEY">Drakor Asia</a>
            <a class="collapse-item" href="/api/info/kbbi?kata=pohon&amp;apikey=APIKEY">KBBI</a>
            <a class="collapse-item" href="/api/info/kodepos?kota=jakarta&amp;apikey=APIKEY">Kode Pos</a>
            <a class="collapse-item" href="/api/info/berita?apikey=APIKEY">Cnn nasional</a>
            <a class="collapse-item" href="/api/info/berita2?apikey=APIKEY">Cnn Details</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        <div class="version"><b>Contact me</b></div>
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="https://wa.me/6281515958390">
          <i class="fab fa-fw fa-whatsapp"></i>
          <span>WhatsApp</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="https://www.instagram.com/vikodwik_rmx/">
          <i class="fab fa-fw fa-instagram"></i>
          <span>Instagram</span>
        </a>
      </li>
      <hr class="sidebar-divider">
      <div class="version"><b>Made With By Vikodk</b></div>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content" style="	background-image: url(https://pingendo.com/site-assets/cover.jpg);	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top" style="background-image: url(&quot;https://pingendo.com/site-assets/cover.jpg&quot;); background-position: left top; background-size: 100%; background-repeat: repeat;">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?" aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="https://i.ibb.co/mRgyq9q/logo2.png" style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">Viko DK</span>
                <marquee class="li" id="informasi" direction="left" onmouseover="stop()" onmouseout="start()"></marquee>
              </a>
                         <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter">1+</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header"> Informasi </h6>
                <a class="dropdown-item d-flex align-items-right" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">Owner</div>
                     <span id="crito">Tidak ada info</span>
                  </div>
                </a>
              </div>
            </li>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->
        <!-- Container Fluid-->
        <style>
.li {
  float: left;
  width: 98%;
  padding: 1%;
  margin: 1% 10%;
  height: 40px;
  border-radius: 0.4em;
  box-shadow: 0 0.1em 0.5em;
}
        </style>

        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">API MENU</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="http://studiovdk.herokuapp.com">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dasboard</li>
            </ol>
          </div>
          <div class="row mb-3">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Visitor</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" class="loader" id="visits"><div class="spinner-grow" role="status">
  <span class="sr-only">Loading...</span>
</div></div>
                      <div class="mt-2 mb-0 text-muted text-xs">
                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0,33% ditonton</span>
                      </div>
                    </div>
                    <div class="col-auto">
                    <lord-icon
    src="https://cdn.lordicon.com/dxjqoygy.json"
    trigger="loop-on-hover"
    delay="9"
    colors="primary:#121331,secondary:#08a88a"
    style="width:70px;height:70px">
                    </lord-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">APIKEY</div>
                      <span class="h5 mb-0 font-weight-bold text-gray-800" id="apikuuu">
					  <div class="spinner-grow" role="status">
  <span class="sr-only">Loading...</span>
</div></span>
                      <div class="mt-2 mb-0 text-muted text-xs">
                        <span id="lucast">Load</span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <lord-icon
    src="https://cdn.lordicon.com/anihkfxp.json"
    trigger="loop"
    colors="primary:#121331,secondary:#08a88a"
    style="width:70px;height:70px">
</lord-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- New User Card Example -->
          <div class="col-xl-4 col-md-6 mb-4">
            <script> window.onload = function() { jam(); }

 function jam() {
  var e = document.getElementById('jam'),
  d = new Date(), h, m, s;
  h = d.getHours();
  m = set(d.getMinutes());
  s = set(d.getSeconds());

  e.innerHTML = h +':'+ m +':'+ s;

  setTimeout('jam()', 1000);
 }

 function set(e) {
  e = e < 10 ? '0'+ e : e;
  return e;
 }
      </script>
            <div class="card h-100">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1">Waktu</div>
                    <div class="h6 mb-0 font-weight-bold text-gray-800" id="jam"><div class="spinner-border spinner-border-sm" role="status">
  <span class="sr-only"><div class="spinner-border spinner-border-sm" role="status">
  <span class="sr-only">Loading...</span>
</div></span>
</div></div>
                  </div>
                  <div class="col-auto">
                   <lord-icon
    src="https://cdn.lordicon.com/kbtmbyzy.json"
    trigger="loop-on-hover"
    colors="primary:#121331,secondary:#08a88a"
    style="width:75px;height:75px">
</lord-icon>
                  </div>
                </div><br>
                <div class="text-xs font-weight-bold text-uppercase mb-1">Waktu Stanby</div>
                <div class="h6 mb-0 font-weight-bold text-gray-800" id="vikoo"><div class="spinner-border spinner-border-sm" role="status">
  <span class="sr-only">Loading...</span>
</div></div>
              </div>
            </div>
          </div>
            <!-- Pending Requests Card Example -->
            <!-- Pie Chart -->
          <div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-header py-3">
                <div class="card-body">
                  <div class="row align-item-center">
                    <div id="demo" class="alert alert-info alert-dismissible" role="alert">
                      <div id="Statistic"></div>
                      <span id="tgl">Waiting</span> - <span id="bln">Connection</span> - <span id="thn"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Invoice Example -->
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright © <script>
                document.write(new Date().getFullYear());
              </script> - developed by <b><a href="#" target="_blank">Vikodk</a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>
  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <script async="" src="https://api.countapi.xyz/hit/studiovdk.herokuapp.com/visits?callback=cb"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/ruang-admin.js"></script>
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="https://viko-api.herokuapp.com/js/ruang-admin.js"></script>
  
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        vikoapi();
    })
    document.addEventListener("DOMContentLoaded", function() {
        markue();
    })
    document.addEventListener("DOMContentLoaded", function() {
        prosedur();
    })
</script>
</body>

</html>
